/* Fonts */
@import url("//hello.myfonts.net/count/36c173");
@font-face {font-family: 'ProximaNova-Black';src: url('../webfonts/36C173_0_0.eot');src: url('../webfonts/36C173_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/36C173_0_0.woff2') format('woff2'),url('../webfonts/36C173_0_0.woff') format('woff'),url('../webfonts/36C173_0_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Bold';src: url('../webfonts/36C173_1_0.eot');src: url('../webfonts/36C173_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/36C173_1_0.woff2') format('woff2'),url('../webfonts/36C173_1_0.woff') format('woff'),url('../webfonts/36C173_1_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Regular';src: url('../webfonts/36C173_2_0.eot');src: url('../webfonts/36C173_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/36C173_2_0.woff2') format('woff2'),url('../webfonts/36C173_2_0.woff') format('woff'),url('../webfonts/36C173_2_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNova-Semibold';src: url('../webfonts/36C173_3_0.eot');src: url('../webfonts/36C173_3_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/36C173_3_0.woff2') format('woff2'),url('../webfonts/36C173_3_0.woff') format('woff'),url('../webfonts/36C173_3_0.ttf') format('truetype');}
@font-face {
    font-family: 'CubicFive12';
    src:url('../webfonts/CubicFive12.ttf.woff') format('woff'),
        url('../webfonts/CubicFive12.ttf.svg#CubicFive12') format('svg'),
        url('../webfonts/CubicFive12.ttf.eot'),
        url('../webfonts/CubicFive12.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}