/*
:: GRID BREAKPOINTS ::
@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }

:: MEDIA BREAKPOINTS ::
portrait phones
@media (max-width: 575.98px) { ... }

landscape phones
@media (min-width: 576px) and (max-width: 767.98px) { ... }

tablets
@media (min-width: 768px) and (max-width: 991.98px) { ... }

desktops
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

large desktops
@media (min-width: 1200px) { ... }
*/

body {
    font-family: @vivalu-font-regular;
    background-color: @vivalu-grey;
    color:@vivalu-white;
    font-size: 24px;

    @media (max-width: 767.98px) {
        font-size: 18px;
    }
}

h1,h2,h3,h4,strong {
    font-family: @vivalu-font-black;
}

h1 > a,
h2 > a,
h3 > a {
    text-decoration: none;

    &:hover {
        text-decoration: none;        
    }
}

body.page-template-default .fl-module-heading h1.fl-heading {
    font-size:40px;
    text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1024px) {
    body.page-template-default .fl-module-heading h1.fl-heading {
        font-size:65px;
    }
}
@media (min-width: 1024px) and (max-width: 1440px) {
    body.page-template-default .fl-module-heading h1.fl-heading {
        font-size:104px;
    }
}
@media (min-width: 1441px) {
    body.page-template-default .fl-module-heading h1.fl-heading {
        font-size:130px;
    }
}

body.page-template-default .fl-module-heading h3.fl-heading {
    font-family: @vivalu-font-bold;
}

body.page-template-default .fl-module-rich-text h4 {
    margin-top:80px;
    margin-bottom:40px;
    font-family: @vivalu-font-bold;
}

h1.fl-heading,
h2.fl-heading,
.fl-rich-text h1,
.fl-rich-text h2,
.fl-rich-text h3,
.fl-rich-text h4,
.fl-rich-text p a {
    hyphens: auto;
}

@media (max-width: 767.98px) {
    .fl-module-heading .fl-heading {
        word-break: break-word;
    }
}

.fl-module-rich-text {
    p {
        /*hyphens: auto;*/
    }
}

.h2, h2 {
    text-transform: uppercase;
    font-size: 62px;
    color:@vivalu-red;
    line-height: 1;
}

h2.quform-form-title {
    color:@vivalu-grey;
    margin-top:70px;
    margin-bottom:60px;
}

.headline-sub {
    font-size: 32px;
    letter-spacing: 20px;
    text-transform: uppercase;
    font-family: @vivalu-font-bold;
    text-align: center;
    font-weight:bold;
}

.headline-jumbo {
    font-size: 148px;
    font-family: @vivalu-font-black;
    text-align: center;

    @media (min-width: 1441px) {
        font-size: 185px;
    }
}

.pixel-font,
.pixel-font h2,
.pixel-font h3 {
    font-family: @vivalu-font-pixel !important;
    font-weight: normal;
    letter-spacing: -.15rem;
}

.pixel-font.pixel-shadow {
    text-shadow: 8px 8px 0 @vivalu-black;
}

.color-red {
    color:@vivalu-red;
    &:hover {
        color:@vivalu-red;
    }
}

.color-blue {
    color:@vivalu-blue;
    &:hover {
        color:@vivalu-blue;
    }
}

.color-white {
    color:@vivalu-white;
    &:hover {
        color:@vivalu-white;
    }
}

.color-grey {
    color:@vivalu-grey;
    &:hover {
        color:@vivalu-grey;
    }
}

.text-bold {
    font-family: @vivalu-font-bold;
}

.text-black {
    font-family: @vivalu-font-black;
}

.text-r-45 {
    transform: rotate(45deg);
    display: inline-block;
}

.text-r-90 {
    transform: rotate(90deg);
    display: inline-block;
}

.text-r-180 {
    transform: rotate(180deg);
    display: inline-block;
}

.text-r-270 {
    transform: rotate(270deg);
    display: inline-block;
}

.pos-abs-right {
    position:absolute;
    right:0;
}

.pos-abs-left {
    position:absolute;
    left:0;
}

/* Buttons */
.btn {
    border-radius: 0;

    &.btn-dark {
        background-color:@vivalu-black;
        border-color:@vivalu-black;

        &:hover {
            background-color:@vivalu-grey;
        }
    }

    &.btn-light {
        background-color:@vivalu-white;
        border-color:@vivalu-white;

        &:hover {
            background-color:@vivalu-lightgrey;
        }
    }

    &.btn-l {
        font-size:70px;

        @media (max-width: 768px) {
            font-size:40px;
        }
    }

    &.btn-xl {
        font-size:100px;

        @media (max-width: 1024px) {
            font-size:80px;
        }
    }

    &.btn-square {
        line-height:.9;
        width:6rem;
        height:6rem;
        overflow: hidden;

        @media (max-width: 1024px) {
            width:4rem;
            height:4rem;
            line-height:.7;
        }

        &.btn-l {
            line-height: 1.4;
        }
    }
}

@media (min-width: 768px) {
    &.sticky-btn {
        position:fixed;
        right:0;
        top:140px;
        z-index:888;
    }
}

/* Container */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* Header */
#header {
    background: @vivalu-grey;
    max-height: 240px;
    padding-top: 53px;
    padding-bottom: 33px;
    transition: none;

    .navbar-brand,
    .navbar-nav,
    .logo {
        transition: none;
    }

    .logo_sticky {
        display:none;
    }

    .navbar-nav {
        padding-top:98px;

        a {
            font-family: @vivalu-font-semibold;
            font-size: 17px;
            text-transform: uppercase;
        }

        .nav-item {
            padding-left: .6rem;
            padding-right: 1.8rem;

            @media (min-width: 1441px) {
                padding-left: 1.2rem;
                padding-right: 1.2rem;
            }

            &:hover,
            &.active {
                a {
                    border-color:@vivalu-red;
                }
            }
        }

        @media (min-width: 769px) and (max-width: 1024px) {
            a {
                font-size: 14px;
            }
            .nav-item {
                padding-left: .6rem;
                padding-right: .6rem;
            }
        }

        .nav-link {
            border-top:4px solid transparent;
            color:@vivalu-white;
            padding-left:0;
            padding-right:0;
        }

        .lnr {
            font-weight:600;
        }

        &.mx-right {
            .nav-item {
                padding-left: 0;
                padding-right: 0;

                &:hover,
                &.active {
                    a {
                        border-color:transparent;
                        background-color:@vivalu-darkgrey;
                    }
                }
            }
            
            .nav-link {
                padding-left: 1.2rem;
                padding-right: 1.2rem;
            }

            .nav-link[aria-expanded="true"] {
                border-color:transparent;
                background-color:@vivalu-darkgrey;

                .lnr-magnifier:before,
                .lnr-phone-handset:before {
                    content: "\e870";
                }
            }
        }
    }

    &.stucked {
        display: none;
        max-height: 125px;
        padding-top:10px;
        padding-bottom:10px;
        border-bottom:4px solid @vivalu-darkgrey;

        .navbar-brand {
            .logo {
                display:none;
            }
            .logo_sticky {
                display:block;
                width:auto;
                height:29px;
                margin-top:0px;
            }

            @media (min-width: 992px) {
                .logo_sticky {
                    margin-top:35px;
                }
            }
        }

        .navbar-nav {
            padding-top:40px;
        }
    }
}

@media (max-width: 991.98px) {
    #header.stucked {
        padding-top:0;
        padding-bottom:0;
        border-color:@vivalu-grey;

        .navbar-expand-md.navbar-dark {
            background:@vivalu-grey;
            padding-bottom:0;
        }
        .navbar-collapse {
            background:@vivalu-darkgrey;
            margin-left:-16px;
            margin-right:-16px;
            margin-top:10px;
            padding-left:0;
            padding-right:0;
            border-top:4px solid @vivalu-red;
            border-bottom:4px solid @vivalu-black;
        }
    }
    #header {
        #menu-main-menu {
            background-color: @vivalu-grey;
            height:~"calc(100vh - 190px)";
        }
        .navbar-brand {
            img.logo {
                width:150px;
                height:auto;
            }
        }
        .navbar-nav {
            padding-top:40px;
            padding-bottom:40px;

            .nav-item.active {
                .nav-link {
                    color:@vivalu-red;
                    font-family: @vivalu-font-black;
                }
            }

            .nav-link {
                border:none;
                font-size: 24px;
            }
        }
        .navbar-collapse {
            background:@vivalu-grey;
            z-index:9999;
            margin-left:-16px;
            margin-right:-16px;
            padding-left:16px;
            padding-right:16px;
            text-align:right;
        }
        .navbar.navbar-expand-lg {
            .container {
                max-width: none;
            }
        }
        .navbar-toggler {
            color:@vivalu-white;
            border:none;
        }
        .navbar-toggler[aria-expanded="false"] {
            .fas.fa-bars {
                display:inline-block;
            }
            .fas.fa-times {
                .u-hide;
            }
        }
        .navbar-toggler[aria-expanded="true"] {
            .fas.fa-bars {
                .u-hide;
            }
            .fas.fa-times {
                display:inline-block;
            }
        }
        .navbar-nav.mx-right {
            flex-direction: row;
            padding-bottom:75px;
            justify-content:center !important;
            padding-top:5px;
            margin-top:0;
            border-top:4px solid @vivalu-black;
            background:@vivalu-black;

            .nav-item {
                display:list-item;
            }

            .nav-link {
                font-size: 17px;
            }
        }
        .navbar-collapse.collapse.show {
            height:100vh;
        }
    }
}

body.sticky-active {
    padding-top:125px;

    #search-collapse,
    #contact-collapse {
        &.show {
            position: fixed;
            top:125px;
            width:100%;
            z-index:9999;
        }
    }

    #contact-collapse {
        &.show {
            max-height: 100%;
            overflow-y: auto;
            padding-bottom:100px;
        }
    }
}

body.contact-collapse-shown {
    &.sticky-active {
        overflow-y:hidden;
    }
    &:not(.sticky-active) {
        #content-header,
        #content,
        #footer,
        #social-stream,
        #loop,
        .close-return.float-right {
            display:none;
        }
    }
}

body.search-collapse-shown {
    overflow-y: hidden;
}

body.single-products {
    #header {
        .navbar-nav {
            .nav-item.menu-item-165 {
                a {
                    border-color:@vivalu-red;
                }
            }
        }
    }
}

body.single-technologies {
    #header {
        .navbar-nav {
            .nav-item.menu-item-162 {
                a {
                    border-color:@vivalu-red;
                }
            }
        }
    }
}

/* Contact */
#contact-collapse {
    background:@vivalu-darkgrey;

    .card {
        border-radius: 0;
        border:none;
        background:@vivalu-darkgrey;
        margin-left:-30px;
        margin-right:-30px;
        padding-bottom:60px;

        iframe {
            filter: grayscale(100%);
            width:100%;
            max-height:600px;
            border:none;
            margin-top:50px;
            margin-bottom:60px;
            transition: all 500ms;

            &:hover {
                filter: grayscale(0);
            }
        }

        .quform .quform-recaptcha iframe {
            margin-top:0;
            margin-bottom:0;
        }
    }

    ul.member-logos li img {
        max-height:48px;
        width:auto;
    }

    @media (max-width: 991.98px) {
        .list-inline-item:not(:last-child) {
            margin-right:0;
        }
    }
}

.quform-error > .quform-error-inner {
    background-color:@vivalu-red;
    border-color:@vivalu-red;
    color:@vivalu-white;
    font-size: 18px;
}

.quform-success-message {
    background-color: @vivalu-blue;
    border-color: @vivalu-blue;
    color:@vivalu-white;
    font-size: 18px;
}

.quform-option-text {
    a {
        color:@vivalu-red;
    }
}

.quform-option-icon {
    i.fa.fa-square {
        width:14px;
        background:@vivalu-white;
    }
}

@media (max-width: 767.98px) {
    .page-template-page-contact {
        #contact-collapse .card {
            margin-left:0;
            margin-right:0;
        }

        .quform {

            .quform-submit {
                width:100% !important;
                height:100px !important;
                font-size: 3rem !important;
            }
        }

        .google-map {
            margin-left:-30px;
            margin-right:-30px;
            padding-left:0;
            padding-right:0;
        }

        .google-map + div {
            .col-sm,
            .col-sm.text-right,
            .col-sm-2.text-right {
                text-align:center !important;
            }

            .col-sm.text-right {
                margin-top:40px;
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .page-template-page-contact {
        .quform {

            .quform-element-row>.quform-element-column.quform-element-1_9 {
                width:53%;
            }

            .quform-element-row>.quform-element-column.quform-element-1_10 {
                display:block;
                float: none;
                width:100%;

                .quform-button-submit {
                    float:none;
                }

                .quform-submit {
                    width:100% !important;
                    height:100px !important;
                    font-size: 3rem !important;
                }
            }
        }
    }
}

/* Search */
#search-collapse {
    background:@vivalu-darkgrey;

    .card {
        border-radius: 0;
        border:none;
        background:@vivalu-darkgrey;
        margin-left:-30px;
        margin-right:-30px;
    }

    #ajaxsearchlite1 {
        .probox {
            height:auto !important;

            .promagnifier {
                display:none;
            }

            .proinput {
                height:auto !important;
            }

            input[type="search"] {
                text-indent:3px;
                width:100%;
                height:auto !important;
                border-radius: 0;
                border:none;
                background-color:transparent;
                color:@vivalu-lightgrey;
                text-transform: uppercase;
                font-family: @vivalu-font-black;
                font-size: 1.4rem;

                @media (min-width: 992px) {
                    font-size: 4.5rem !important;
                }

                &.orig::-webkit-input-placeholder { color: @vivalu-grey !important; }
                &.orig:-moz-placeholder { color: @vivalu-grey !important; }
                &.orig::-moz-placeholder { color: @vivalu-grey !important; }
                &.orig:-ms-input-placeholder { color: @vivalu-grey !important; }
                &.orig::-ms-input-placeholder { color: @vivalu-grey !important; }
            }
        }
    }    

    .search-form {
        .form-group:first-of-type {
            width:80%;
        }
        input[type="search"] {
            width:100%;
            border-radius: 0;
            border:none;
            background-color:transparent;
            color:@vivalu-lightgrey;
            text-transform: uppercase;
            font-family: @vivalu-font-black;
            font-size: 1.4rem;

            @media (min-width: 992px) {
                font-size: 4.5rem;
            }

            &.form-control::-webkit-input-placeholder { color: @vivalu-grey; }
            &.form-control:-moz-placeholder { color: @vivalu-grey; }
            &.form-control::-moz-placeholder { color: @vivalu-grey; }
            &.form-control:-ms-input-placeholder { color: @vivalu-grey; }
            &.form-control::-ms-input-placeholder { color: @vivalu-grey; }

            .proinput input::-webkit-input-placeholder {
                font-weight: normal;
                font-family: Open Sans;
                color: #fff !important;
                text-shadow: 0 0 0 rgba(255,255,255,0);
            }

            .proinput input::-moz-placeholder {
                font-weight: normal;
                font-family: Open Sans;
                color: #fff !important;
                text-shadow: 0 0 0 rgba(255,255,255,0);
            }

            .proinput input:-ms-input-placeholder {
                font-weight: normal;
                font-family: Open Sans;
                color: #fff !important;
                text-shadow: 0 0 0 rgba(255,255,255,0);
            }

            .proinput input:-moz-placeholder {
                font-weight: normal;
                font-family: Open Sans;
                color: #fff !important;
                text-shadow: 0 0 0 rgba(255,255,255,0);
            }

            &:focus,
            &:active {
                border:none;
                box-shadow: none;
                outline: none;
            }
        }
        .form-group:last-of-type {
            width:20%;
            text-align: right;
        }
        .btn.btn-lg {
            font-size:3rem;
            background-color: @vivalu-grey;
            color:@vivalu-white;
            border:none;
            line-height: 1;
            padding-top:1rem;
            padding-bottom:1rem;

            &:hover {
                background-color: @vivalu-darkgrey;
            }
        }
    }
}

#ajaxsearchliteres1 {
    width: ~"calc(100% - 8px)" !important;
    left:0 !important;
    right:0 !important;

    .results.mCustScr._mCSap_1 {
        margin:0 auto;
    }

    .results .item .asl_content {
        max-width:1620px !important;
        margin:0 auto;
    }
}

#ajaxsearchliteres1.asl_r.vertical {
    background: @vivalu-darkgrey;
    border-radius: 0;
    margin-top:6px;

    .probox {
        .promagnifier {
            .innericon {
                svg {
                    display:none;
                }

                content:"jj";
            }
        }
    }

    .results {
        .item:first-child {
            border-radius: 0;
        }

        .item {
            background:@vivalu-grey;
            border:none;

            .asl_content {
                color:@vivalu-white;
                min-height:5rem;
                padding:.5rem;

                h3 {
                    a {
                        font-family:@vivalu-font-black;
                        font-size:1.5rem;
                        text-transform: uppercase;
                        color:@vivalu-white;
                        line-height: 1.3;
                    }
                }

                .asl_desc {
                    width:100%;
                    font-size:1.4rem;
                    font-weight:normal;
                    line-height: 1.1;
                    font-family:@vivalu-font-regular !important;
                }

                @media (min-width: 992px) {
                    h3 {
                        a {
                            font-size:2.5rem;
                        }
                    }
                    .asl_desc {
                        font-size:1.4rem;
                        width:50%;
                    }
                }
            }
        }

        .asl_spacer {
            background:@vivalu-darkgrey;

            &:last-of-type {
                display:none;
            }
        }

        .asl_nores {
            background:@vivalu-grey;
            border:none;
            text-align:left;
            min-height:5rem;
            padding:1rem;

            .asl_nores_header {
                color:@vivalu-white;
                text-transform: uppercase;
                font-size:2.5rem;
                line-height: 2;
            }
        }
    }
}

body.search-collapse-shown {
    #ajaxsearchliteres1.asl_r.vertical {
        height:100% !important;
    }
}

div.asl_w .probox .promagnifier {
    width:100px !important;
    height:100px !important;

    .innericon {
        svg {
            display:none !important;
        }

        &:after {
            display:block;
            content:"";
            font-family: FontAwesome;
            color:@vivalu-white;
            font-size:3rem;
            padding:1rem 0;
        }

        &:hover {
            background:@vivalu-white !important;

            &:after {
                color:@vivalu-darkgrey;
            }
        }
    }
}

div.asl_m .probox .proloading {
    margin:2rem !important;
}

/* iPad */
@media (min-width: 576px) and (max-width: 768px) {
    .section-clickit {
        .fl-heading-text {
            font-size: 200%;
        }
    }
    .pixel-hand {
        img {
            max-width:250px;
            height:auto;
        }
    }
    .fl-node-5b1a9bd190ec0 > .fl-col-content {
        padding-top:40px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .section-clickit {
        .fl-heading-text {
            font-size: 66%;
        }
    }
    .pixel-hand {
        img {
            max-width:250px;
            height:auto;
            margin-top: 20px;
        }
    }
    .fl-node-5b3153ffc5491 > .fl-row-content-wrap {
        padding-top:0;
    }
    .fl-node-5b94f29541726 > .fl-module-content {
        margin-top:-95px;
    }
    .fl-node-5b3ea1410d038 > .fl-module-content,
    .fl-node-5b3ea1ee4675c > .fl-module-content,
    .fl-node-5b315a72cb977 > .fl-module-content,
    .fl-node-5b31572aa3081 > .fl-module-content {
        margin-left:40px;
        margin-right:40px;
    }
    .fl-node-5b3ea2bb5e29d > .fl-module-content {
        margin-bottom:10px;
    }
}

/* About */
.about-pixelhead-top-left {
    position:absolute;
    top:0;
    left:0;
}

.about-pixelhead-top-right {
    position: absolute;
    top:0;
    right:20%;
}

.about-pixelhead-bottom-left {
    position: absolute;
    bottom:0;
    left:22%;
}

.about-pixelhead-bottom-center {
    position: absolute;
    bottom:0;
    left:52%;
}

.about-pixelhead-bottom-right {
    position: absolute;
    bottom:0;
    right:0;
}

/* Contact */
.quform-edit-form {
    display: none;
}

/* Content Header */
#content-header {
    text-align: center;
    padding-top:250px;
    border-top:4px solid @vivalu-white;

    @media (max-width: 767.98px) {
        padding-top:125px;
    }

    h3 {
        font-size: 32px;
        letter-spacing: 20px;
        font-family: @vivalu-font-bold;
        text-transform: uppercase;

        @media (max-width: 767.98px) {
            font-size: 18px;
            letter-spacing: 10px
        }
    }

    h1 {
        font-size: 185px;
        font-family: @vivalu-font-black;
        text-transform: uppercase;

        @media (max-width: 767.98px) {
            font-size: 40px;
        }
        @media (min-width: 768px) and (max-width: 1440px) {
            font-size: 148px;
        }
    }

    h2 {
        @media (max-width: 767.98px) {
            font-size: 36px;
        }
    }

    .container {
        padding-top:90px;
        padding-bottom:90px;
        max-width:1130px;
    }
}

body.single-post {
    #content-header {
        text-align: left;
        padding-top:100px;

        @media (max-width: 767.98px) {
            padding-top:30px;
        }

        h3 {
            font-size: 32px;
            letter-spacing: 20px;
            font-family: @vivalu-font-bold;
            text-transform: uppercase;
            margin-bottom:100px;
            letter-spacing: 0;

            @media (max-width: 767.98px) {
                font-size:18px;
                letter-spacing: 10px;
                margin-bottom:30px;
            }
        }

        h1 {
            font-size: 130px;
            line-height: 1;
            font-family: @vivalu-font-black;
            text-transform: uppercase;
            margin-bottom:75px;

            @media (max-width: 576px) {
                font-size:40px;
                margin-bottom:30px;
            }

            @media (max-width: 768px) {
                font-size:50px;
                margin-bottom:30px;
            }

            @media (max-width: 1024px) {
                font-size:60px;
                margin-bottom:30px;
            }
        }

        h2 {
            @media (max-width: 768px) {
                font-size:30px;
                margin-bottom:30px;
            }
            @media (max-width: 1024px) {
                font-size:40px;
                margin-bottom:30px;
            }
        }

        .container { 
            max-width:1650px;
            padding-right:330px;
            padding-top:0;

            h3.date {
                letter-spacing: 0;
            }

            @media (max-width: 768px) {
                padding-right:20px;
                padding-bottom:30px;
            }
        }
    }

    #content {
        .container { 
            max-width:1650px;
            padding-right:330px;
            padding-bottom:100px;

            @media (max-width: 768px) {
                padding-right:20px;
            }

            .wp-post-image,
            img[class*="wp-image-"] {
                margin-bottom:100px;
                min-width: 100%;
                height:auto;

                @media (max-width: 1024px) {
                    width:100%;
                    min-width: none;
                    margin-bottom:30px;
                }
            }

            img[class*="wp-image-"] {
                margin-top:100px;

                @media (max-width: 1024px) {
                    margin-top:30px;
                }
            }
        }
    }

    #socialshare {
        .container {
            padding-bottom:200px;

            @media (max-width: 767.98px) {
                padding-bottom:30px;
            }
        }
    }
}

body {
    &.term-optimierungs-tools,
    &.term-optimierungs-tools-en,
    &.term-formate,
    &.term-formate-en,
    &.term-kanaele,
    &.term-kanaele-en {
        #content-header {
            border-color:@vivalu-red;

            h1 {
                color:@vivalu-red;
            }
        }

        #content {
            h2 {
                color:@vivalu-red;
            }
        }
    }

    &.term-management-tools,
    &.term-management-tools-en,
    &.term-strategien,
    &.term-strategien-en {
        #content-header {
            border-color:@vivalu-blue;

            h1 {
                color:@vivalu-blue;
            }
        }

        #content {
            h2 {
                color:@vivalu-blue;
            }
        }
    }

    &.single-products,
    &.single-technologies {
        #content {

            padding-bottom:200px;

            .fl-rich-text,
            h2 {
                text-align: center;
            }

            .fl-row-bg-parallax {
                margin-bottom:150px;
            }
        }
        .close-return {
            a.btn {
                padding:.375rem 1.05rem .375rem .75rem;

                @media (max-width: 1024px) {
                    padding:.375rem 1.25rem .375rem .45rem;
                }

                .text-r-45 {
                    line-height:.5;
                }                
            }
        }
    }

    &.single-post {
        .close-return {
            a.btn {
                background-color: @vivalu-black;
                color:@vivalu-white;
                padding:.375rem 1.05rem .375rem .75rem;

                @media (max-width: 1024px) {
                    padding:.375rem 1.25rem .375rem .45rem;
                }

                .text-r-45 {
                    line-height:.5;
                }                
            }
        }

        #content-header {
            border-color:@vivalu-red;

            h3 {
                color:@vivalu-red;
            }
        }

        #content-header,
        #content,
        #socialshare {
            background-color: @vivalu-lightgrey;
            color:@vivalu-darkgrey;
        }

        #socialshare {
            .list-inline-item {
                a {
                    .fa-stack {
                        .fas {
                            color:@vivalu-black;
                        }

                        .fab {
                            color:@vivalu-white;
                        }
                    }
                }

                .btn-share {
                    background-color:@vivalu-red;
                    color:@vivalu-white;
                    text-transform: uppercase;
                    border-radius: 25px;
                    min-width:145px;
                    height:48px;
                    line-height: 2.2;

                    &:hover {
                        cursor: default;
                    }
                }
            }
        }
    }

    &.single {
        .close-return {
            margin:30px;

            @media (max-width: 767.98px) {
                margin:20px;
            }
        }

        #footer {
            border-top:4px solid @vivalu-white;
        }
    }
}

/* Sections */
.section {
    margin-left:0;
    margin-right:0;

    h3 {
        font-size: 32px;
        letter-spacing: 20px;
        text-transform: uppercase;
        font-family: @vivalu-font-bold;
    }

    h2 {
        font-size: 120px;
        font-family: @vivalu-font-black;

        @media (min-width: 1025px) and (max-width: 1440px) {
            font-size: 148px;
        }

        @media (min-width: 1441px) {
            font-size: 185px;
        }
    }

    &.section-text {
        h2 {
            .h2;
        }
        p {
            font-size: 24px;
            text-transform: none;

            @media (max-width: 1024px) {
                font-size:18px;
            }
        }
    }

    &.section-blue {
        background-color: @vivalu-blue;
        background: @vivalu-blue-gradient;
    }
    &.section-red {
        background-color:@vivalu-red;
        background: @vivalu-red-gradient;
    }
    &.section-darkgrey {
        background-color: @vivalu-grey;
        color:#fff;
    }
    &.section-white {
        background-color: @vivalu-lightgrey;

        h3 {
            color:@vivalu-red;
        }

        h2 {
            color:@vivalu-grey;
        }

        &.section-text {
            p {
                color:@vivalu-grey;
            }
        }
    }
}

.section-jumbotron {
    h2 {
        .h2;
        font-size:90px;
    }

    h3 {
        .headline-sub;
    }
}

#mediamix {
    @media (max-width: 767.98px) {
        .fl-row-content-wrap {
            background-image:none;
        }
    }
}

/* Buttons */
.fl-button {
    width:100%;
    max-width: 520px;
    padding:40px 40px 30px !important;
    border-radius: 50px !important;

    @media (max-width: 767.98px) {
        padding:30px 20px 25px !important;
    }

    .fl-button-text {
        font-family: @vivalu-font-black;
        font-size: 36px;
        text-transform: uppercase;
    }

    @media (max-width: 767.98px) {
        .fl-button-text {
            font-size: 24px;
        }
    }
}

.fl-builder-pagination-load-more {
    .fl-button {
        max-width: 320px;
        padding:30px 30px 20px !important;

        @media (max-width: 767.98px) {
            max-width: 240px;
            padding:20px 20px 15px !important;
        }

        .fl-button-text {
            font-size: 28px;

            @media (max-width: 767.98px) {
                font-size: 21px;
            }
        }
    }
}

.fl-post-grid-more,
.fl-post-carousel-more {
    max-width: 225px;
    padding:10px !important;
    border-radius: 50px !important;
    font-family: @vivalu-font-black;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    background: @vivalu-grey;
    color: @vivalu-white !important;
    display:block;
    margin-left:auto;
    margin-right:auto;

    &:hover {
        color: @vivalu-white;
        background-color: @vivalu-red;
    }
}

.section-blog {
    .fl-post-grid,
    .fl-post-carousel {

        #infscr-loading {
            padding-bottom:0;
            
            div {
                display:none;
            }
        }

        .fl-post-column {
            position: relative;
        }

        .fl-post-column,
        .fl-post-carousel-post {
            &:nth-child(odd) {
                .fl-post-grid-image,
                .fl-post-carousel-image {
                    background:@vivalu-red;
                    img {
                        filter:saturate(0);
                    }
                }
            }
            &:nth-child(even) {
                .fl-post-grid-image,
                .fl-post-carousel-image {
                    background:@vivalu-grey;
                }
            }
        }

        .fl-post-carousel-post {
            border:none;
        }

        .fl-post-grid-image,
        .fl-post-carousel-image {
            img {
                opacity:.32;
            }
        }

        .fl-post-grid-meta-terms {
            .fl-post-grid-terms {
                position:absolute;
                top:auto;
                margin-top:-325px;
                max-width:260px;
                word-break: break-word;

                a[rel="tag"] {
                    color:@vivalu-white;
                    text-transform: uppercase;
                    font-family: @vivalu-font-black;
                    font-size: 3em;
                    line-height: .8;
                    hyphens: auto;
                }
            }

            @media (max-width: 767.98px) {
                .fl-post-grid-terms {
                    top:25px;
                    margin-top:0;
                }
            }

            @media (min-width: 768px) {
                .fl-post-grid-terms {
                    position:absolute;
                    top:20px;
                    margin-top:auto;
                    max-width:320px;

                    a[rel="tag"] {
                        font-size: 2.8em;
                        padding-right:.5em;
                    }
                }
            }
            @media (min-width: 1441px) {
                .fl-post-grid-terms {
                    a[rel="tag"] {
                        font-size: 3.6em;
                    }
                }
            }
            @media (min-width: 1600px) {
                .fl-post-grid-terms {
                    a[rel="tag"] {
                        font-size: 4em;
                    }
                }
            }
        }

        .fl-post-carousel-more {
            margin-top:20px;
        }
    }

    .fl-post-carousel-navigation {
        left:-60px;
        right:-60px;

        .fl-post-carousel-svg-container {
            width:80px;
            height:80px;
        }
    }
}

.section-team {
    .fl-post-grid {
        .fl-post-grid-text {
            background:@vivalu-white;
            padding-top:40px;
            padding-bottom:40px;

            .fl-post-grid-content p {
                line-height: 1.2
            }
        }
    }
}

.pp-member-wrapper {
    background-color:fade(@vivalu-white, 15%) !important;

    .pp-member-name {
        margin-bottom:-5px !important;
    }

    .pp-member-designation {
        .headline-sub;
        font-size: 24px;
        letter-spacing: 5px;
    }

    .pp-member-description {
        line-height: 1.2;

        strong {
            text-transform: uppercase;
            color:@vivalu-black;
        }
    }
}

/* Loop */
#loop {
    background: @vivalu-white;
    padding:130px 0;

    h2 {
        color:@vivalu-grey;
        text-align: center;
        margin-bottom:90px;
        font-size:36px;
        hyphens: auto;

        @media (min-width: 768px) {
            font-size:90px;
        }
    }

    .loop-highlights {

        .flex-column,
        .col-sm,
        .col-md,
        .col-lg {
            &:first-of-type {
                border-color:black;
            }
            > div {
                border:2px solid @vivalu-white;
                background-color:@vivalu-grey;
                padding:90px 20px 20px;

                @media (min-width: 1024px) {
                    padding:90px;
                }

                h3 {
                    text-transform: uppercase;
                    hyphens: auto;
                    max-width:66%;
                    font-size: 36px;
                    @media (min-width: 1024px) {
                        font-size: 48px;
                        max-width:90%;
                    }
                }

                p {
                    /*hyphens: auto;*/
                    @media (max-width: 1024px) {
                        font-size: 18px;
                    }
                }

                &.term-optimierungs-tools,
                &.term-optimierungs-tools-en,
                &.term-formate,
                &.term-formate-en,
                &.term-kanaele,
                &.term-kanaele-en {
                    background-color:@vivalu-red;
                    background: @vivalu-red-gradient;
                }

                &.term-management-tools,
                &.term-management-tools-en,
                &.term-strategien,
                &.term-strategien-en {
                    background-color:@vivalu-blue;
                    background: @vivalu-blue-gradient;
                }

                a.btn.float-right {
                    position:absolute;
                    right:30px;
                    top:30px;

                    @media (max-width: 767.98px) {
                        right:20px;
                        top:20px;
                    }
                }
            }
        }

        .first-col {
            padding-right:0;

            @media (max-width: 1024px) {
                padding:0;

                > div {
                    padding-top:90px !important;
                    height:auto !important;
                }
            }
        }
        .last-col {
            padding-left:0;

            @media (max-width: 1024px) {
                padding:0;
            }
        }

        .first-col,
        .last-col {
            > div {
                position: relative;
            }
        }
    }

    .loop-overview {
        padding-top:130px;

        &.loop-downloads {
            padding-top:65px;

            @media (min-width: 768px) {
                h2 {
                    font-size:90px;
                }
            }
        }

        .flex-column {

            > div {
                padding:90px;
                background-color: @vivalu-lightgrey;
                color:@vivalu-grey;
                border-top:2px solid @vivalu-white;
                border-bottom:2px solid @vivalu-white;
                
                @media (max-width: 1024px) {
                    padding:20px;
                }
            }

            h3 {
                font-size: 36px;
                @media (min-width: 1024px) {
                    font-size: 48px;
                }
                text-transform: uppercase;
                hyphens: auto;
                word-break: break-word;
            }

            p {
                /*hyphens: auto;*/
                @media (max-width: 1024px) {
                    font-size: 18px;
                }
            }

            .term-optimierungs-tools,
            .term-optimierungs-tools-en,
            .term-formate,
            .term-formate-en,
            .term-kanaele,
            .term-kanaele-en,
            .term-kunden,
            .term-kunden-en,
            .term-customers {
                h3 {
                    color:@vivalu-red;
                }
            }

            .term-management-tools,
            .term-management-tools-en,
            .term-strategien,
            .term-strategien-en,
            .term-presse,
            .term-presse-en,
            .term-press {
                h3 {
                    color:@vivalu-blue;
                }
            }
        }
    }
}

.fl-slideshow-light .fl-slideshow-nav a {
    background:none;
    text-align: center;
    vertical-align: middle;
    display:block;
    width:100px;
    height:100px;
    opacity: .8;

    &:before {
        content:"\f053";
        font-family: "FontAwesome";
        font-size:68px;
        vertical-align: middle;
        text-align: middle;
        color:@vivalu-white;
        display:block;
        width:100px;
        height:100px;
        background:@vivalu-black;
    }

    &.fl-slideshow-nav-next {
        &:before {
            content:"\f054";
        }
    }

    &:hover {
        opacity: 1;
        text-decoration: none;
    }
}

.nav-terms {
    background:@vivalu-grey;
    padding:20px;
    border-bottom:2px solid @vivalu-white;

    @media (min-width: 1024px) {
        padding:40px;

        .nav-item + .nav-item {
            border-left:3px solid @vivalu-black;
        }
    }

    a {
        font-size: 18px;
        color:@vivalu-lightgrey;
        text-transform: uppercase;
        font-family: @vivalu-font-bold;
        letter-spacing: .2em;
        padding-left:20px;
        padding-right:20px;

        @media (min-width: 1441px) {
            padding-left:100px;
            padding-right:100px;
            font-size: 24px;
        }

        &.term-optimierungs-tools,
        &.term-optimierungs-tools-en,
        &.term-formate,
        &.term-formate-en,
        &.term-kanaele,
        &.term-kanaele-en,
        &.term-kunden,
        &.term-kunden-en,
        &.term-customers {
            color:@vivalu-red;
        }

        &.term-management-tools,
        &.term-management-tools-en,
        &.term-strategien,
        &.term-strategien-en,
        &.term-presse,
        &.term-presse-en,
        &.term-press {
            color:@vivalu-blue;
        }

        &:hover {
            color:@vivalu-lightgrey;
        }
    }
}

/* Referenzen / Logos */
#clients-logos {
    .pp-logos-content {
        .pp-logo {
            @media (max-width: 767.98px) {
                padding-top:15px;
                padding-bottom:15px;
            }

            @media (min-width: 768px) and (max-width: 1440px) {
                padding-top:10px;
                padding-bottom:10px;
            }

            .logo-image {
                height:auto;
            }
        }
    }
}

/* Footer */
footer {
    a {
        color:@vivalu-red;
        &:hover {
            color:@vivalu-red;
        }
    }

    strong, b {
        .text-bold;
    }

    .container {
        padding:100px 0;

        .section {
            padding:50px 10px 50px;
            text-align: center;

            h3 {
                color:@vivalu-red;
            }

            h2 {
                color:@vivalu-white;

                &:after {
                    content:"";
                    display:block;
                    width:63px;
                    height:99px;
                    background:url(../img/mouse-cursor.png) no-repeat;
                    position: absolute;
                    right: 33%;
                    margin-top:-30px;
                }

                @media (min-width: 768px) {
                    &:after {
                        margin-top:-60px;
                        right: ~"calc(50% - 372px)";
                    }
                }
            }

            @media (max-width: 767.98px) {
                h2 {
                    font-size: 62px;
                }
                h3 {
                    font-size:18px;
                    letter-spacing: 10px;
                }
            }

            h4 {
                color:@vivalu-red;
                font-size:90px;
                line-height: 1.5;
            }
        }

        @media (min-width: 768px) {
            .section {
                padding:150px 0 75px;
            }
        }
        @media (max-width: 767.98px) {
            .section {
                text-align: center;
            }
        }
    }

    hr {
        background-color: @vivalu-white;
        height:4px;
        border:none;
    }

    .footer-middle {
        padding: 0;

        ul.member-logos li img {
            max-height:48px;
            width:auto;
        }
    }

    @media (max-width: 767.98px) {
        .footer-middle {
            text-align:center;

            .text-uppercase.text-bold.color-red {
                margin-top:40px;
            }

            .col-sm.text-right,
            .col-sm-2.text-right {
                text-align:center !important;
            }
        }
    }

    @media (max-width: 991.98px) {
        .footer-middle {
            .list-inline-item:not(:last-child) {
                margin-right:0;
            }
        }
    }

    .footer-bottom {
        padding:75px 0 0;
        font-size:18px;

        ul.list-inline {
            li + li {
                margin-left:10px;
            }

            @media (min-width: 768px) and (max-width: 1680px) {
                li + li {
                    margin-left:0;
                }
            }

            @media (min-width: 1680px) {
                li + li {
                    margin-left:50px;
                }
            }
        }

        a:hover {
            color:@vivalu-red;
            text-decoration: none;
        }
    }

    @media (max-width: 767.98px) {
        .footer-bottom {
            text-align: center;

            .text-right {
                text-align: center !important;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .container > .row {
        margin:0;
    }
}

@media (max-width: 1440px) {
    #thumbs-up-right,
    #thumbs-up-left {
        display:none;
    }
}

/* Social Stream */
#social-stream {
    max-width: 100%;
    overflow-x: hidden;

    .ff-stream {
        padding:0;

        .ff-content {
            font-size:32px;
            line-height: 1.5;
        }

        .ff-item-bar,
        .ff-loadmore-wrapper {
            display:none;
        }

        .picture-item__inner {
            .ff-img-holder img.ff-initial-image {
                filter: grayscale(100);
            }

            &:hover {
                .ff-img-holder img.ff-initial-image {
                    filter: grayscale(0);
                }
            }
        }
    }

    .ff-overlay-wrapper {
        opacity:1 !important;
    }

    @media (max-width: 991.98px) {
        .ff-mob-link {
            background:transparent !important;
            color:transparent !important;
            margin:0 !important;
            padding:33% 0;
            top:0;
            left:0;
            width:100%;
            height:100%;
            border-radius: 0;

            &:after {
                background:@vivalu-darkgrey;
                padding:10px;
            }
        }
    }

    .ff-sc-label2 .ff-label-wrapper {
        bottom:18px;
        left:18px;
        top:auto;
        right:auto;
    }

    .ff-sc-label2 .ff-instagram .ff-icon:before,
    .ff-sc-label2 .ff-facebook .ff-icon:before {
        border:none !important;
        /*border-color: transparent @vivalu-white transparent transparent;*/
    }

    .ff-sc-label2 .ff-instagram .ff-icon,
    .ff-sc-label2 .ff-facebook .ff-icon {
        background-color:@vivalu-white;
        width:100px;
        height:100px;
        /*border-color: transparent @vivalu-white transparent transparent;*/
    }

    .ff-sc-label2 .ff-instagram .ff-icon .ff-icon-inner,
    .ff-sc-label2 .ff-facebook .ff-icon .ff-icon-inner {
        line-height: 1.8em;
        font-size: 50px;
        color: @vivalu-black;
        transition: all 250ms ease-in-out;
    }

    .ff-instagram .picture-item__inner {
        &:hover {
            .ff-icon-inner {
                color: @vivalu-red;
            }
        }
    }

    .ff-facebook .picture-item__inner {
        &:hover {
            .ff-icon-inner {
                color: @vivalu-blue !important;
            }
        }
    }

    .ff-overlay {
        display:none !important;
    }

    .ff-layout-grid .ff-img-holder img {
        transform: translate(-50%, -50%) !important;
    }
}

@media screen and (max-width: 767.98px) and (orientation:landscape) {
    #landscape-not-supported {
        display: block !important;
        position: fixed;
        z-index:9999;
        top:0;
        width:100%;
        height:100%;
        background-color: @vivalu-lightgrey;
        color:@vivalu-darkgrey;
        font-family:@vivalu-font-pixel;
        padding-top:15%;
        padding-bottom:15%;

        p, strong, h4 {
            font-family:@vivalu-font-pixel;            
        }

        h4 {
            margin-top:1.5rem;
            font-size: 40px
        }

        img {
            width:auto;
            height:auto;
        }
    }
}

/* Master Slider */
.master-slider {
    img.overlapping-img {
        z-index:999;
    }

    .fire-permanent {
        /*display:none;*/
    }
}

/* Responsive */
@media (min-width: 1710px) {
    .container {
        max-width: 1650px;
    }
}

/* Cookie Notice */
#cookie-notice {
    font-size:16px;

    .cookie-notice-container {
        padding:30px;

        #cn-more-info {
            color:@vivalu-red;
            border-bottom:1px dotted @vivalu-red;
            text-decoration: none;
            font-size: 16px;

            &:hover {
                text-decoration: none;
                border-bottom:1px dotted transparent;
            }
        }

        #cn-accept-cookie {
            .fl-button;
            font-family:@vivalu-font-semibold;
            background:@vivalu-red;
            color:@vivalu-white;
            text-transform: uppercase;
            padding:10px 50px !important;

            &:hover {
                text-decoration: none;
                opacity:.8;
            }
        }

        @media (max-width: 767.98px) {
            #cn-notice-text {
                display:block;
                width:100%;
                padding-bottom:10px;
            }
            #cn-accept-cookie {
                font-size:14px;
                padding:8px 24px !important;
            }
        }

        @media (min-width: 768px) and (max-width: 1680px) {
            #cn-notice-text {
                text-align:left;
                display:inline-block;
                width:70%;
                vertical-align: middle;
                padding-right:30px;
            }
            #cn-accept-cookie {
                display:inline-block;
                max-width:150px;
            }
            #cn-more-info {
                display:inline-block;
            }
        }
    }
}

/* Utilities */
.u-hide {
    display:none !important;
}
.u-z888 {
    z-index:888 !important;
    position: relative;
}