/* Colors */
@vivalu-black:          rgb(7,7,7);
@vivalu-darkgrey:       rgb(27,27,7);
@vivalu-grey:           rgb(39,39,39);
@vivalu-lightgrey:      rgb(248,248,248);
@vivalu-white:          rgb(255,255,255);
@vivalu-blue:           rgb(0,149,219);
@vivalu-red:            rgb(214,0,127);

/* Gradients */
@vivalu-blue-gradient:  linear-gradient(135deg, #06c4d8 0%, #0794e0 100%);
@vivalu-red-gradient:   linear-gradient(135deg, #8b0080 0%, #f5129c 100%);

/* Typo */
@vivalu-font-regular:   'ProximaNova-Regular', Arial, Helvetica, sans-serif;
@vivalu-font-semibold:  'ProximaNova-Semibold', Arial, Helvetica, sans-serif;
@vivalu-font-bold:      'ProximaNova-Bold', Arial, Helvetica, sans-serif;
@vivalu-font-black:     'ProximaNova-Black', Arial, Helvetica, sans-serif;
@vivalu-font-pixel:     'CubicFive12', Arial, Helvetica, sans-serif;